---
import Layout from "../layouts/Layout.astro";
import "../styles/tailwind.css";
import DialogBox from "../components/DialogBox.astro";
import CharacterBox from "../components/CharacterBox.astro";

---

<Layout title="Welcome to Astro.">
	<div class="h-screen flex justify-between flex-col ">
		<div class = "flex justify-end mt-10 mr-12 gap-5">
			<button id = "playButton" onclick="" class="bg-gray-800 hover:bg-gray-900 text-white font-bold w-16 h-16 rounded-full shadow-lg border-4 border-white flex items-center justify-center">
				<img id="playPauseIcon" src="imgs/icons/volume-2.svg" alt="restart icon" width="45" height="45">
			</button>
			<button  onclick="reset()" class="bg-gray-800 hover:bg-gray-900 text-white font-bold w-16 h-16 rounded-full shadow-lg border-4 border-white flex items-center justify-center">
				<img   src="imgs/icons/reload.svg"alt="restart icon" width="45" height="45">
			</button>
			<audio id="audio" loop>
				<source src="songs/ambientalSong.mp3" type="audio/mpeg">
				Tu navegador no soporta el elemento de audio.
			</audio>
		
		</div>
		<!--Ejemplos de finales, bueno y luego malo solo hay que repetirlo poniendo el id de referencia -->
		<div id="dialog-ABB" class="absloute flex justify-center items-center ml-auto mr-auto">
			<img class="absolute h-[700px] w-[800px]" src="/imgs/fox/nube-buena.png" alt="">
				<span class="absolute w-96 text-black text-center">
					Aunque logras atraer turistas de lujo y mejorar la economía local, el impacto ambiental del turismo no regulado comienza a dañar el ecosistema. Las instalaciones y la afluencia de visitantes generan más residuos y erosionan las áreas naturales, comprometiendo a largo plazo el entorno que intentaban preservar.
				</span>
			</img>
		</div>	
		<div id="dialog-ABA" class="absloute flex justify-center items-center ml-auto mr-auto">
			<img class="absolute h-[550px] w-[950px]" src="/imgs/fox/nube-mala.png" alt="">
				<span class="absolute w-[450px] h-36 text-white text-center">
					Aunque logras atraer turistas de lujo y mejorar la economía local, el impacto ambiental del turismo no regulado comienza a dañar el ecosistema. Las instalaciones y la afluencia de visitantes generan más residuos y erosionan las áreas naturales, comprometiendo a largo plazo el entorno que intentaban preservar.
				</span>
			</img>
		</div>	
		<div class="ml-auto mr-auto w-screen flex  justify-center gap-6">
			<DialogBox
				pregunta="Pregunta inicial. ¿Qué opción eliges?"
				id="dialog-root"
				opciones={[
					{ letra: "A", texto: "Opción A" },
					{ letra: "B", texto: "Opción B" },
				]}
			/>
 			<DialogBox
				pregunta="Pregunta secundaría de A"
				id="dialog-A"
				opciones={[
					{ letra: "AA", texto: "Opción A-A" },
					{ letra: "AB", texto: "Opción A-B" },
				]}
			/>
			<DialogBox
				pregunta="Pregunta secundaría de B"
				id="dialog-B"
				opciones={[
					{ letra: "BA", texto: "Opción B-A" },
					{ letra: "BB", texto: "Opción B-B" },
				]}
			/>
			<DialogBox
				pregunta="Pregunta terciaria de AB"
				id="dialog-AB"
				opciones={[
					{ letra: "ABA", texto: "Opción A-B-A" },
					{ letra: "ABB", texto: "Opción A-B-B" },
				]}
			/> 
			<CharacterBox />
		</div>
	</div>
</Layout>
<script is:inline>
//Inicialmente todos se ocultan menos el root
initialDialog = document.getElementById("dialog-root");
document.querySelectorAll('[id^="dialog-"]').forEach((dialog) => {
	if (dialog !== initialDialog) {
		dialog.classList.add("hidden");
	}
});

function reset(){
	initialDialog.classList.remove("hidden");
	initialDialog.classList.add("block")
	document.querySelectorAll('[id^="dialog-"]').forEach((dialog) => {
	if (dialog !== initialDialog) {
		dialog.classList.add("hidden");
	}
});
}

//Si se selecciona uno se muestra el siguiente en base al texto de la opción
document.addEventListener("showNextDialog", (event) => {
	console.log("se marco tal opción : " + event.detail.selectedOption);
	nextDialog = document.getElementById(
		`dialog-${event.detail.selectedOption}`
	);
	nextDialog.classList.remove("hidden");
	nextDialog.classList.add("block");
	  // Disparar el evento para iniciar la animación
		document.dispatchEvent(new CustomEvent("showNextDialog"));
});

const playPauseButton = document.getElementById('playButton');
const audio = document.getElementById('audio');
const playPauseIcon = document.getElementById('playPauseIcon');


// Variable para verificar si la música está reproduciéndose
let isPlaying = false;

const toggleIcon = () => {
    if (isPlaying) {
        playPauseIcon.src = "imgs/icons/volume-x.svg";  // Cambiar a la imagen de Pausa
        playPauseIcon.alt = "Mute";
    } else {
        playPauseIcon.src = "imgs/icons/volume-2.svg";  // Cambiar a la imagen de Play
        playPauseIcon.alt = "Play";
    }
};



// Evento al hacer clic en el botón
playPauseButton.addEventListener('click', () => {
    if (isPlaying) {
        audio.pause();  // Pausar la música
    } else {
        audio.play();  // Reproducir la música
    }
    isPlaying = !isPlaying;  // Alternar el estado de reproducción
	toggleIcon();  // Cambiar la imagen

});

</script>
