---
import Layout from "../layouts/Layout.astro";
import "../styles/tailwind.css";
import DialogBox from "../components/DialogBox.astro";
import CharacterBox from "../components/CharacterBox.astro";

---

<Layout title="Welcome to Astro.">
	<div class="h-screen flex justify-between flex-col ">
		<div class = "flex justify-end mt-10 mr-12">
			<button onclick="reset()" class="bg-gray-800 hover:bg-gray-900 text-white font-bold w-16 h-16 rounded-full shadow-lg border-4 border-white flex items-center justify-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 512 512"><path fill="currentColor" d="M105.1 202.6c7.7-21.8 20.2-42.3 37.8-59.8c62.5-62.5 163.8-62.5 226.3 0l17.1 17.2H352c-17.7 0-32 14.3-32 32s14.3 32 32 32h111.9c17.7 0 32-14.3 32-32V80c0-17.7-14.3-32-32-32s-32 14.3-32 32v35.2l-17.5-17.6c-87.5-87.5-229.3-87.5-316.8 0c-24.4 24.4-42 53.1-52.8 83.8c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5zM39 289.3c-5 1.5-9.8 4.2-13.7 8.2c-4 4-6.7 8.8-8.1 14c-.3 1.2-.6 2.5-.8 3.8c-.3 1.7-.4 3.4-.4 5.1V432c0 17.7 14.3 32 32 32s32-14.3 32-32v-35.1l17.6 17.5c87.5 87.4 229.3 87.4 316.7 0c24.4-24.4 42.1-53.1 52.9-83.8c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.5 62.5-163.8 62.5-226.3 0l-.1-.1l-17.1-17H160c17.7 0 32-14.3 32-32s-14.3-32-32-32H48.4q-2.4 0-4.8.3c-2.4.3-3.1.5-4.6 1"/></svg>
			</button>
		</div>
			
		<div class="ml-auto mr-auto w-screen flex  justify-center gap-6">
			<DialogBox
				pregunta="Pregunta inicial. ¿Qué opción eliges?"
				id="dialog-root"
				opciones={[
					{ letra: "A", texto: "Opción A" },
					{ letra: "B", texto: "Opción B" },
				]}
			/>
			<DialogBox
				pregunta="Pregunta secundaría de A"
				id="dialog-A"
				opciones={[
					{ letra: "AA", texto: "Opción A-A" },
					{ letra: "AB", texto: "Opción A-B" },
				]}
			/>
			<DialogBox
				pregunta="Pregunta secundaría de B"
				id="dialog-B"
				opciones={[
					{ letra: "BA", texto: "Opción B-A" },
					{ letra: "BB", texto: "Opción B-B" },
				]}
			/>
			<DialogBox
				pregunta="Pregunta terciaria de AB"
				id="dialog-AB"
				opciones={[
					{ letra: "ABA", texto: "Opción A-B-A" },
					{ letra: "ABB", texto: "Opción A-B-B" },
				]}
			/>
			<CharacterBox />
			<div id="dialog-ABB" class="text-white">
				Horror el final es un horror
			</div>
		</div>
	</div>
</Layout>
<script is:inline>
//Inicialmente todos se ocultan menos el root
initialDialog = document.getElementById("dialog-root");
document.querySelectorAll('[id^="dialog-"]').forEach((dialog) => {
	if (dialog !== initialDialog) {
		dialog.classList.add("hidden");
	}
});

function reset(){
	initialDialog.classList.remove("hidden");
	initialDialog.classList.add("block")
	document.querySelectorAll('[id^="dialog-"]').forEach((dialog) => {
	if (dialog !== initialDialog) {
		dialog.classList.add("hidden");
	}
});
}

//Si se selecciona uno se muestra el siguiente en base al texto de la opción
document.addEventListener("showNextDialog", (event) => {
	console.log("se marco tal opción : " + event.detail.selectedOption);
	nextDialog = document.getElementById(
		`dialog-${event.detail.selectedOption}`
	);
	nextDialog.classList.remove("hidden");
	nextDialog.classList.add("block");
	  // Disparar el evento para iniciar la animación
		document.dispatchEvent(new CustomEvent("showNextDialog"));
});
</script>
