<div
  id="character-container"
  class="relative rounded-xl p-7 mb-10 bg-[#FAF9D9] border-4 border-orange-500 w-72 h-56"
>
  <img
    src="/imgs/fox/fox1.png"
    class="frame absolute inset-0 w-full h-full opacity-0 transition-opacity duration-100 ease-in-out"
    alt="Frame 1"
  />
  <img
    src="/imgs/fox/fox2.png"
    class="frame absolute inset-0 w-full h-full opacity-0 transition-opacity duration-100 ease-in-out"
    alt="Frame 2"
  />
  <img
    src="/imgs/fox/fox3.png"
    class="frame absolute inset-0 w-full h-full opacity-0 transition-opacity duration-100 ease-in-out"
    alt="Frame 3"
  />
  <audio
    id="animation-audio"
    src="/audio/animaleseVoice.mp3"
    autoplay></audio>
</div>

<script>

  document.addEventListener("DOMContentLoaded", function () {
    const frames = document.querySelectorAll(".frame");
    let currentIndex = 0;
    const totalFrames = frames.length;
    const frameDuration = 200; // Duración de cada frame (milisegundos)
    const totalAnimationTime = 3000; // Duración total de la animación (3 segundos)
    let animationInterval;
    let animationTimeout;

    // Obtener el audio y afirmar que es un HTMLAudioElement
    const audio = document.getElementById(
      "animation-audio"
    ) as HTMLAudioElement | null;

    function animate() {
      // Quitar la clase active de la imagen actual
      frames[currentIndex].classList.remove("opacity-100");
      frames[currentIndex].classList.add("opacity-0");

      // Incrementar el índice
      currentIndex = (currentIndex + 1) % totalFrames;

      // Añadir la clase active a la nueva imagen
      frames[currentIndex].classList.remove("opacity-0");
      frames[currentIndex].classList.add("opacity-100");
    }

    function stopAnimation() {
      clearInterval(animationInterval);
      clearTimeout(animationTimeout);

      frames.forEach((frame) => frame.classList.remove("opacity-100"));
      frames.forEach((frame) => frame.classList.add("opacity-0"));
      frames[0].classList.remove("opacity-0");
      frames[0].classList.add("opacity-100");

      if (audio) {
        audio.pause();
      }
    }
    // Iniciar la animación
    function startAnimation() {
    // Detener cualquier animación en curso
      stopAnimation(); 

      if (audio) {
        audio.currentTime = 0;
        audio.play();
      }

      currentIndex = 0;
      animationInterval = setInterval(animate, frameDuration);

      animationTimeout = setTimeout(stopAnimation, totalAnimationTime);
    }
	  // Iniciar la animación cuando aparece un nuevo texto
    document.addEventListener("showNextDialog", function(event) {
        startAnimation();
    });

    // Iniciar la animación cuando la página esté cargada
    startAnimation();
  });
</script>
